{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h3>Edit Entry</h3>
    <form action="{%url 'encyclopedia:edit_page' title%}" method="post">
        {%csrf_token%}
        <label for="title">Title: <h3>{{title}}</h3></label>
        <br>
        <label for="content">Content: </label>
        <br>
        <textarea name="content" id="" cols="20" rows="2">{{entry}}</textarea>
        <input type="submit" value="Edit">
    </form>
{% endblock %}